# Server Configuration (Backend)
# Used for local development and as the external Docker port
PORT=3001

# Frontend Configuration (Docker only)
# Used to map the frontend port in Docker
FRONTEND_PORT=3000

#local ip for server
SERVER_IP=192.168.50.213

# MongoDB Configuration
MONGODB_URL=mongodb://admin:admin123@localhost:27017
MONGODB_DB_NAME=music_league

# Spotify API Configuration
# Get these from your Spotify Developer Dashboard
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
